@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin no-focus-effect {
  &:focus {
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.control-label {
  width: 100px !important;
  float: left;
}

.controls {
  margin-left: 110px !important;
  margin-right: 45px !important;
  
  input[type=text] {
    height: 30px; 
    width: 100%;
    @include border-box;
  }

  textarea {
    height: 95px;  
    width: 100%;
    resize: vertical;
    @include border-box;
  }

  select {
    height: 30px; 
    width: 100%;  
    @include border-box;
  }
}

