@import "base/vars";
@import "css3-mixins";

body.home { 
  .filter-bar {
    .twitter-typeahead {
      margin-left: 15px;
      input + input { margin: 0px; }
    }
    input[type="submit"] { margin-left: 15px; }

    .main {
      input[name="sha"] { width: 485px; text-transform: lowercase; }
      select[name="locales"] { width: 150px; }
      .twitter-typeahead { width: 150px; }

      select[name="project_id"] { width: 200px; }
    }
  }

  table#commits {
    th:first-child {
      padding: 0px; 
    }

    tbody {
      tr {
        border-top: 3px white solid;
        &:hover {cursor: pointer;}

        td {
          &.commit-translating,
          &.commit-loading,
          &.commit-ready {
            padding: 0;
            width: 5px;
          }
          &.commit-translating { background-color: $commit-red; } 
          &.commit-loading { background-color: $commit-blue; }
          &.commit-ready { background-color: $commit-green; }

          &.due-date { width: 110px;}
          &.due-date-very-soon { }
          &.due-date-soon { }
          &.centered { text-align: center; }
          
          select { width: 100%; }
          input[type="text"] { width: 110px; }
          a { text-decoration: underline; }
        }
      }
    }
  }

  .commit-priority-0 { color: #E94239; font-weight: bold; }
  .commit-priority-1 { color: #E98C39; font-weight: bold; }
  .commit-priority-2 { color: #E9B039; font-weight: bold; }
  .commit-priority-3 { color: $input-green; font-weight: bold; }

  .pagination-links {
    width: 100%;
    font-size: 20px;
    margin: 10px 0px;
    .pagination {
      display:-moz-box; /* Firefox */
      display:-webkit-box; /* Safari and Chrome */
      display:-ms-flexbox; /* Internet Explorer 10 */
      display:box;
    }
    .switch-page { width: 198px; }
    .pages {
      @include flex;
      text-align: center;
      .page + .page { margin-left: 8px; }
    }
  }

  .pagination-info { width: 100%; text-align: center; }
}