@import "base/vars";
@import "css3-mixins";
@import "partials/_pagination";

body.projects {
  .header .pull-right {
    button, input, select {vertical-align: top;}
    input, select { width: 200px; }
  }

  .flipswitch-inner:before {
    content: "BLACKLIST";
    padding-left: 8px;
    background-color: #666666; color: #FFFFFF;
  }

  .flipswitch-inner:after {
    content: "WHITELIST";
    padding-right: 8px;
    background-color: #F0F0F0; color: #666666;
    text-align: right;
  }

  table {
    thead {
      tr {
        text-align: left;
        font-weight: bold;
        text-transform: uppercase;

        th {
          padding: 15px;
        }
      }
    }

    tbody {
      tr {
        td {
          &:first-child {
            font-weight: bold;
          }
          padding: 0px 15px;
          height: 50px;
          vertical-align: middle;
        }
      }
    }
  }

  .translation-workbench {
    border-top: 1px solid #dfdfdf;
  }
  
  &#projects-show {
    .locale-select {
      select[name='commit'] { width: 300px; }
    }

    .filter-bar {
      input[type="text"] { width: 400px; }
      select[name="filter_source"] { width: 150px; }

      select[name="article_id"], select[name="section_id"] { width: 180px; }
    }
  }

  &#projects-edit, &#projects-new, &#projects-update {
    .eight.columns {
      margin-top: -30px;
      padding: 30px;
      box-sizing: border-box;
    }

    .right-side {
      background-color: $gray6;
    }

    form {
      fieldset {
        &:last-of-type { padding-bottom: 0px; }

        .space-group {
          .controls {
            input[type="checkbox"], input[type="radio"] {
              margin-top: -17px;
            }
          }
        }
        
        .controls {
          &.checkboxes_and_radios {
            &:first-of-type {
              margin-top: 10px;
              border-top: 1px solid $gray5;              
            }

            &:last-of-type { 
              margin-bottom: 30px;
            }

            border-bottom: 1px solid $gray5;
            padding: 5px 0px;;
            span {
              display: block;
              padding-right: 40px;
            }
          }
          

          label {
            font-weight: 400;
            padding: 0;
            padding-right: 30px;
            text-transform: none;
            width: auto;
            float: none;
          }

          input[type="text"], .twitter-typeahead, .list-field {
            width: 100%;
          }

          input[type="checkbox"], input[type="radio"] {
            margin-right: 10px; 
            margin-top: 3px;
            float: right;
            width: auto;
          }
        }
      }

      .list-field {
        margin-top: 7px;
      }

    }

    .header.advanced_actions_header {
      margin-top: 50px;
    }
  }

  &#projects-setup_mass_copy_translations, &#projects-mass_copy_translations {
    input[type=submit] {
      width: auto;
    }

    ul {
      list-style-type: disc;
      margin-left: 20px;
    }
  }
}
