@import "base/vars";
@import "css3-mixins";

// ----- RESPONSIVE

// @include ipad-and-larger {
//   .compact-only { display: none; }
// }

// @include iphone-landscape-and-smaller {
//   .full-size-only { display: none; }
// }

// ----- LAYOUT

html {
  height: 100%;
}

// bleed background colors to the bottom of the page
body {
  height: 100%;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: $base-font-size;
  line-height: 21px;
}

.content-container {
  background-color: white;
  padding-top: 35px;
  padding-bottom: 35px;
}

.header {
  h1 {
    display: inline-block;
    color: $gray3;
    margin-top: 0px;
  }

  .pull-right {
    padding-top: 10px;
    select {
      margin-top: 0px;
      & + select {
        margin-left: 2px;
      }
    }
  }

  h6 {
    color: $gray4;
    text-transform: uppercase;
    margin-left: 30px;
    line-height: 10px;
    margin-top: 0px;
  }
}

.border {
  border: 1px solid $gray5;
}

hr.divider {
  border: 0;
  height: 1px;
  background-color: $gray5;
  margin-top: 5px;
  margin-bottom: 40px;
}

.hide {
  display: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}