@import "css3-mixins";
@import "base/vars";
@import "css3-mixins";

form#new_project {
  p { margin: 0 0 10px 0; }

  p.help-block {
    font-size: 90%;
    color: $gray3;
  }
}

// forms lack the padding granted by empty grid columns when in stacked layout.
// add some padding to compensate.
@include iphone-landscape-and-smaller {
  form {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}

.flipswitch {
  float: right;
  margin-bottom: -30px;
}

fieldset {
  padding: 20px 0px 50px 0px;
  width: 100%;
  .fieldset-button {
    float: right;
    margin-top: -66px;
  }
}

legend {
  font-size: $legend-size; 
  line-height: $legend-line-height;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  display: block;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid $gray3;
}

.form-actions {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid $gray5;
  input, button {
    width: 175px;
    @include box-sizing(border-box);
  }
  input+input, button+button, button+input, input + button {
    margin-left: 7px;
  }
}

.help-block {
  font-size: 80%;
}

.space-group {
  margin-bottom: 30px;
}

.control-label {
  font-weight: 500;
}

.control-group {
  margin-bottom: 15px;
  label {
    float: left;
    width: 160px;
    padding-top: 9px;
    text-align: left;
  }
  .control-label {
    text-transform: capitalize;
  }

  .controls {
    min-height: 30px;
    margin-left: 180px;
    & + .controls { margin-top: 15px; }
    & > * { width: 100%; }
    form.button_to div > * { width: 100%; }

    select { margin-top: 0px; }
    input[type="checkbox"] { margin-top: 0px; }
    input + input {
      margin-top: 8px;
    }
    .spaced-field + .spaced-field {
      margin-top: 5px;
    }

    .twitter-typeahead * {
      margin: 0px;
    }

    p {
      margin: 0;
      padding-top: 9px;
    }


  }

  &.wide-label {
    label { width: 400px; }
    .controls {
      margin-left: 400px;
    }
  }
}

