<tbody class="glossary-table-entry">
  <tr class="accordion-header accordion-toggle" data-target="#glossary-table-entry-{{source_id}}">
    <td></td>
    <td><b>{{source_copy}}</b></td>

    {{#translated_copies}}
    <td>
      <span class="{{locale}}-copy {{entry_state}}">
        <b>
          {{copy}} 
        </b>
      </span>
    </td>
    {{/translated_copies}}

  </tr>

  <tr class="accordion-body" id="glossary-table-entry-{{source_id}}">
    <td></td>
    <td style="text-align: left;">
      <div> 
        {{#is_translator}}
        <a 
          href="{{source_edit_url}}" 
          class="button default square glossary-table-edit-source"
        >
          <i class="fa fa-pencil-square-o"></i>
        </a>
        {{/is_translator}}

        <p class="label">Context</p>
        <p> {{source_context}} </p>

        <p class="label">Notes</p>
        <p> {{source_notes}} </p>
        
      </div>

    </td>

    {{#translated_copies}}
    <td class="glossary-table-locale-entry" data-locale="{{locale}}" data-locale-id="{{locale_id}}" data-add-url="{{add_url}}" data-edit-url="{{edit_url}}" data-approve-url="{{approve_url}}" data-reject-url="{{reject_url}}" style="text-align: left;">

      <div> 

        {{#is_translator}}
          <button 
            class="button default square glossary-table-edit-locale" 
            {{#approved}} {{^is_reviewer}} 
              disabled 
            {{/is_reviewer}} {{/approved}}
          >
            <i class="fa fa-pencil-square-o"></i>
          </button>
        {{/is_translator}}

        {{#is_reviewer}}
          <button class="button reject square glossary-table-reject-locale" 
            {{#rejected}} disabled {{/rejected}} 
            {{^locale_id}} disabled {{/locale_id}}
          >
            <i class="fa fa-ban"></i>
          </button>

          <button class="button approve square glossary-table-approve-locale"
            {{#approved}} disabled {{/approved}} 
            {{^locale_id}} disabled {{/locale_id}}
          >
            <i class="fa fa-check"></i>
          </button>
        {{/is_reviewer}}

        <p class="label">Notes</p>
        <p> {{notes}} </p>

      </div>

    </td>
    {{/translated_copies}}
  </tr>
          
</tbody>
