<span class="highlighter-container" style= "z-index: 120;">
  <div class="tool-container tool-top tool-rounded">
    <div class="tool-items">
      <span class="tool-item search"><i class="fa fa-search fa-lg"></i></span>
      <span class="tool-item hide"><i class="fa fa-ban fa-lg"></i></span>
    </div>

    <div class="arrow" style="left: 50%; right: 50%;"></div>
  </div>
</span>