/* line 7, ../sass/lightbox.sass */

body:after {
  content: url(../images/lightbox/close.png) url(../images/lightbox/loading.gif) url(../images/lightbox/prev.png) url(../images/lightbox/next.png);
  display: none;
}

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container {
  padding: 4px;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/lightbox/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}
/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../images/lightbox/prev.png) left 48% no-repeat;
}

/* line 90, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../images/lightbox/next.png) right 48% no-repeat;
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/lightbox/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 5, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 10, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%; }

/* line 12, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss */
#content {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -150px; }
  /* line 18, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss */
  #content #content-footer {
    height: 150px; }

/* line 20, /Users/tim/.rvm/gems/ruby-2.1.4@squash/gems/compass-core-1.0.1/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 150px; }

/* line 38, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300; }

/* line 44, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
strong {
  font-weight: 500; }

/* line 45, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
h1 {
  font-size: 32px; }

/* line 46, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
h2 {
  font-size: 26px;
  font-weight: 400; }

/* line 47, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
h3 {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px; }

/* line 48, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
hr {
  background-color: #ebebeb;
  height: 1px;
  border: 0; }

/* line 50, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto; }

/* line 56, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
input[type=button], .button {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #ffffff;
  height: 32px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none !important;
  padding: 15px 30px; }
  /* line 72, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
  input[type=button]:hover, .button:hover {
    background: #f2f2f2; }
  /* line 73, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
  input[type=button]:active, .button:active {
    position: relative;
    top: 1px; }

/* line 80, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
#navbar-container {
  background-color: #ffffff; }
  /* line 82, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
  #navbar-container.shadow {
    -moz-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4); }
  /* line 84, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
  #navbar-container nav {
    z-index: 99;
    letter-spacing: 1px; }
    /* line 87, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
    #navbar-container nav > ul {
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -ms-box-orient: horizontal;
      box-orient: horizontal; }
      /* line 93, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
      #navbar-container nav > ul > li {
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0 10px;
        line-height: 70px;
        position: relative; }
        /* line 100, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
        #navbar-container nav > ul > li.active a {
          color: #2884b4 !important; }
        /* line 102, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
        #navbar-container nav > ul > li a, #navbar-container nav > ul > li i {
          color: #000000;
          text-decoration: none; }
          /* line 105, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
          #navbar-container nav > ul > li a:hover, #navbar-container nav > ul > li i:hover {
            color: #2884b4 !important; }
        /* line 110, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
        #navbar-container nav > ul > li#logo {
          margin-right: 40px;
          text-transform: uppercase;
          line-height: 60px; }
          /* line 115, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
          #navbar-container nav > ul > li#logo img {
            margin-top: 5px;
            height: 27px;
            vertical-align: middle; }
        /* line 122, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
        #navbar-container nav > ul > li#quicknav-container {
          position: relative;
          -webkit-box-flex: 1;
          -moz-box-flex: 1;
          -ms-box-flex: 1;
          box-flex: 1; }

/* line 132, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
#hero-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2a2f42;
  text-align: center;
  height: 280px;
  padding-top: 60px; }
  /* line 138, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
  #hero-container h1 {
    font-family: "Raleway", "SQMarket", "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff; }
  /* line 142, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
  #hero-container h3 {
    color: #7b7f88;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 50px; }

/* line 151, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
article {
  margin-top: 40px; }
  /* line 154, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
  article section {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -ms-box-orient: horizontal;
    box-orient: horizontal;
    width: 100%; }
    /* line 158, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
    article section .half {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-box;
      display: box;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      -ms-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-box-flex: 1;
      box-flex: 1;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-box-pack: center;
      box-pack: center;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-box-align: center;
      box-align: center;
      width: 100%;
      padding: 40px 30px 40px 30px; }
      /* line 166, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
      article section .half img {
        width: 100%; }
      /* line 168, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
      article section .half h2 {
        margin-bottom: 15px; }
      /* line 169, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
      article section .half p + p {
        margin-top: 15px; }

/* line 175, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
#footer {
  background-color: #363636;
  text-align: center;
  padding-top: 80px; }
  /* line 179, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
  #footer div + div {
    margin-top: 30px; }
  /* line 180, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
  #footer a:not(.button) {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none; }
    /* line 184, /Documents/Projects/shuttle/source/stylesheets/all.css.scss */
    #footer a:not(.button):hover {
      text-decoration: underline; }
