/* line 7, ../sass/lightbox.sass */

body:after {
  content: url(../images/lightbox/close.png) url(../images/lightbox/loading.gif) url(../images/lightbox/prev.png) url(../images/lightbox/next.png);
  display: none;
}

/* line 11, ../sass/lightbox.sass */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container {
  padding: 4px;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/lightbox/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}
/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../images/lightbox/prev.png) left 48% no-repeat;
}

/* line 90, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../images/lightbox/next.png) right 48% no-repeat;
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/lightbox/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
@font-face {
  font-family: "SQMarket-Light";
  src: url("/fonts/sqmarket/sqmarket-light.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-light.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-light.woff") format('woff'), url("/fonts/sqmarket/sqmarket-light.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-light.svg") format('svg'); }

@font-face {
  font-family: "SQMarket-LightItalic";
  src: url("/fonts/sqmarket/sqmarket-lightitalic.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-lightitalic.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-lightitalic.woff") format('woff'), url("/fonts/sqmarket/sqmarket-lightitalic.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-lightitalic.svg") format('svg'); }

@font-face {
  font-family: "SQMarket-Regular";
  src: url("/fonts/sqmarket/sqmarket-regular.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-regular.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-regular.woff") format('woff'), url("/fonts/sqmarket/sqmarket-regular.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-regular.svg") format('svg'); }

@font-face {
  font-family: "SQMarket-RegularItalic";
  src: url("/fonts/sqmarket/sqmarket-regularitalic.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-regularitalic.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-regularitalic.woff") format('woff'), url("/fonts/sqmarket/sqmarket-regularitalic.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-regularitalic.svg") format('svg'); }

@font-face {
  font-family: "SQMarket-Medium";
  src: url("/fonts/sqmarket/sqmarket-medium.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-medium.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-medium.woff") format('woff'), url("/fonts/sqmarket/sqmarket-medium.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-medium.svg") format('svg'); }

@font-face {
  font-family: "SQMarket-MediumItalic";
  src: url("/fonts/sqmarket/sqmarket-mediumitalic.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-mediumitalic.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-mediumitalic.woff") format('woff'), url("/fonts/sqmarket/sqmarket-mediumitalic.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-mediumitalic.svg") format('svg'); }

@font-face {
  font-family: "SQMarket-Bold";
  src: url("/fonts/sqmarket/sqmarket-bold.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-bold.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-bold.woff") format('woff'), url("/fonts/sqmarket/sqmarket-bold.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-bold.svg") format('svg'); }

@font-face {
  font-family: "SQMarket-BoldItalic";
  src: url("/fonts/sqmarket/sqmarket-bolditalic.otf") format('opentype'), url("/fonts/sqmarket/sqmarket-bolditalic.eot") format('embedded-opentype'), url("/fonts/sqmarket/sqmarket-bolditalic.woff") format('woff'), url("/fonts/sqmarket/sqmarket-bolditalic.ttf") format('truetype'), url("/fonts/sqmarket/sqmarket-bolditalic.svg") format('svg'); }

/* line 7, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
body {
  font-family: SQMarket-Regular, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  min-width: 1100px; }

/* line 15, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
a,
a:link,
a:visited,
a:hover,
a:active {
  color: #3584b4; }

/* line 22, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
strong {
  font-weight: normal;
  font-family: SQMarket-Medium; }

/* line 26, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
header {
  width: 640px;
  margin: 2em auto; }

/* line 30, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
h2 {
  font-family: SQMarket-MediumItalic, Helvetica, sans-serif;
  font-weight: normal;
  color: gray;
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 20px; }

/* line 38, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
h1 {
  font-family: SQMarket-MediumItalic, Helvetica, sans-serif;
  font-weight: normal;
  margin-bottom: 0;
  font-size: 60px;
  color: black; }
  /* line 44, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
  h1 a {
    text-decoration: none; }

/* line 47, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
header h3 {
  font-family: SQMarket-Regular, Helvetica, sans-serif;
  font-weight: normal;
  color: gray;
  font-size: 24px; }

/* line 53, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
p#video {
  text-align: center; }

/* line 56, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
#menu-container {
  width: 100%;
  background-color: #202020;
  z-index: 100; }
  /* line 61, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
  #menu-container.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    box-shadow: 0 10px 10px white; }

/* line 69, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
ul#menu {
  width: 1100px;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 5px 0; }
  /* line 76, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
  ul#menu > li {
    display: inline-block;
    font-family: SQMarket-Light, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #3584b4;
    padding: 0 10px;
    vertical-align: middle;
    list-style-type: none; }
    /* line 86, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
    ul#menu > li:first-child {
      padding-left: 0; }
    /* line 89, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
    ul#menu > li:last-child {
      padding-right: 0; }
    /* line 92, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
    ul#menu > li a {
      color: #cccccc;
      text-decoration: none; }
    /* line 96, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
    ul#menu > li i {
      margin-right: 0.5em; }

/* line 100, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
article {
  width: 960px;
  margin: 2em auto 0 auto;
  overflow: hidden;
  *zoom: 1;
  font-family: SQMarket-Light, Helvetica, sans-serif; }

/* line 106, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
section {
  float: left;
  margin: 0 0 20px 0;
  line-height: 195%;
  overflow: hidden;
  *zoom: 1; }
  /* line 112, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
  section:nth-child(odd) {
    margin-right: 28px; }
  /* line 115, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
  section a[data-lightbox] {
    float: left;
    margin-left: 5px;
    margin-right: 1em;
    margin-bottom: 0; }
    /* line 121, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
    section a[data-lightbox] img {
      border: 2px solid white;
      box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
      max-width: 250px; }
  /* line 126, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
  section h3 {
    font-family: SQMarket-Medium, Helvetica, sans-serif;
    color: gray;
    font-size: 24px;
    font-weight: normal;
    border-top: 2px solid #dddddd;
    padding-top: 7px; }
    /* line 133, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
    section h3:first-child {
      margin-top: 0; }
  /* line 135, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
  section p {
    position: relative;
    top: -8px; }
  /* line 139, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
  section#cta {
    clear: both;
    float: right;
    margin: 0;
    padding: 0;
    line-height: inherit; }
    /* line 146, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
    section#cta h1 {
      font-size: 48px; }

/* line 149, /Users/ricksong/Documents/Projects/shuttle/source/stylesheets/all.css.sass */
footer {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px; }
