body#home-reviewers, body#home-translators {
  #locale input {
    font-size: 24px;
    width: 100%;
    height: 30px;
  }

  #locale {
    position: relative;

    .icon-refresh {
      position: absolute;
      right: 0;
      top: 12px;
      color: gray;
    }
  }

  div.project {
    background-color: rgba(black, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 1px;
    border-radius: 5px;

    h1 {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: rgba(black, 0.2);
      font-size: 18px;
      .due-date { font-weight: normal; }
      label { display: inline; }
    }

    table, p { margin-left: 5px; margin-right: 5px; }

    table.pending-counts {
      width: inherit;
      th { text-align: right; }
    }
  }

  .locale-row { margin-bottom: 20px; }

  .locale-bubble {
    font-size: 24px;
    background-color: rgba(black, 0.1);
    border-radius: 6px;
    padding: 15px;
  }
}

table#commits {
  tr[class] td:first-of-type:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 100%;
  }

  tr.commit-loading td:first-of-type:before {
    border: 2px solid darken(#dadafb, 10%);
    width: 8px;
    height: 8px;
  }
  tr.commit-translating td:first-of-type:before {
    background: darken(#dadafb, 10%);
  }
  tr.commit-ready td:first-of-type:before { background: darken(#dfd, 50%); }
  }
}

.edit_commit {
  position: relative;
}
.priority-change-success {
  position: absolute;
  line-height: 2em;
  right: -.25em;
  color: green;
}

.commit-priority-0 { color: red; font-weight: bold; }
.commit-priority-1 { color: darkred; }
.commit-priority-2 { color: darkorange; }
.commit-priority-3 { color: darkcyan; }

.due-date-very-soon { color: red; font-weight: bold; }
.due-date-soon { color: darkorange; }
