body#keys-show {
  h5 {
   font-family: "Garamond Pro", Garamond, serif;
    font-style: italic;
    font-size: 22px;
    font-weight: normal;
    text-align: center;
    color: #a9a9a9;
  }

  form#large-translation {
    textarea {
      width: 100%;
    }
  }
}
